{% extends 'base.html' %}

{% load static %}
{% load humanize %}


{% block content %}
<div class="bg_load"> <img class="loader_animation" src="{% static 'images/loaders/loader_1.png' %}" alt="#" /> </div>

<div class="section padding_layout_1 product_list_main">
  <div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                {% if  products %}
                    {% for product in products %}
                        <div class="col-md-4 col-sm-6 col-xs-12 margin_bottom_30_all">
                            <div class="product_list">
                            <div class="product_img"> 
                                {% if product.image_url %}
                                    <a href="{% url 'main:product-detail' product.pk %}">
                                        <img class="img-responsive" src="{{ product.image_url }}" >
                                    </a>
                                {% else %}
                                    <a href="{% url 'main:product-detail' product.pk %}">
                                        <img class="img-responsive" src="{% static 'images/not_found.webp' %}" alt="Rasm yo'q">
                                    </a>
                                {% endif %}
                            </div>
                            <div class="product_detail_btm">
                                <div class="center">
                                <h4><a href="{% url 'main:product-detail' product.pk %}">{{ product.name|truncatechars:50 }}</a></h4>
                                </div>
                                <div class="product_price">...
                                    <span class="new_price">{{ product.price|floatformat:2|intcomma }}</span><b> Uzs</b></p>
                                </div>
                            </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h3>Hech narsa topilmadi</h3>
                {% endif %}
            </div>
        </div>


        <div class="col-md-3">
            <div class="side_bar">
                <div class="side_bar_blog">
                    <h4>QIDIRISH</h4>
                    <div class="side_bar_search">
                    <div class="input-group stylish-input-group">
                        <input class="form-control" placeholder="Qidirish uchun..." type="text">
                        <span class="input-group-addon">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </span> </div>
                    </div>
                </div>
                <div class="side_bar_blog">
                    <h4>Onlayn do'konlar </h4>
                    <div class="categary">
                        <ul>
                            <li><a href="{% url 'main:products-list' %}" class="{% if not selected_brand and not selected_site %}active{% endif %}">Hammasi</a></li>
                            {% for site in sites %}
                                <li>
                                    <a href="{% url 'main:products-list-filtered' site=site %}" class="{% if site == selected_site %}active{% endif %}">
                                        <i class="fa fa-angle-right"></i> {{ site }}
                                    </a>
                                </li>
                            {% endfor %}
                            

                        </ul>
                    </div>
                </div>
                <div class="side_bar_blog">
                    <h4>Brand </h4>
                    <div class="categary">
                        <ul>
                            {% for brand in brands %}
                                <li>
                                    <a href="{% if selected_site %}{% url 'main:products-list-filtered-both' site=selected_site brand=brand %}{% else %}{% url 'main:products-list-filtered-brand' brand=brand %}{% endif %}" class="{% if brand == selected_brand %}active{% endif %}">
                                        <i class="fa fa-angle-right"></i> {{ brand }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div> 
            </div>
        </div>

        
        {% if page_obj.paginator.num_pages > 1 %}
            <nav aria-label="Navigatsiya">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="Boshi">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Avvalgi">
                                <span aria-hidden="true">&lsaquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">&laquo; </span>
                        </li>
                        <li class="page-item disabled">
                            <span class="page-link">&lsaquo;</span>
                        </li>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                        {% if num > page_obj.number|add:-3 and num < page_obj.number|add:3 %}
                            {% if page_obj.number == num %}
                                <li class="page-item active" aria-current="page">
                                    <span class="page-link">{{ num }}</span>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Keyingi">
                                <span aria-hidden="true">&rsaquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Oxirgi">
                                <span aria-hidden="true"> &raquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">&rsaquo;</span>
                        </li>
                        <li class="page-item disabled">
                            <span class="page-link"> &raquo;</span>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}
