{% extends "base.html" %}

{% load static %}
{% load humanize %}

{% block content %}
  <div class="row">
    <div class="col-xl-6 col-lg-12 col-md-12">
      <div class="product_detail_feature_img hizoom hi2">
        <div class='hizoom hi2'> <img src="{{ product.image_url }}" alt="#"  width="400" height="400"/> </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-12 col-md-12 product_detail_side detail_style1">
      <div class="product-heading">
        <h2>{{ product.site }}</h2>
      </div>
      <div class="product-detail-side"><span class="new-price"> <span> {{ product.price|floatformat:2|intcomma }}</span> <b>Uzs</b> </div>
      <div class="detail-contant">
        <p>{{ product.name }}<br>
          <a href={{ product.url }}><button type="submit" class="btn sqaure_bt">Sotib olish uchun</button></a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
